<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>de</string>

    <key>CFBundleExecutable</key>
    <string>AE3DFlag</string>

    <key>CFBundleIdentifier</key>
    <string>de.bewegtbildgrafik.ae3dflag</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleName</key>
    <string>3D Flag</string>

    <key>CFBundlePackageType</key>
    <string>dlle</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CFBundleVersion</key>
    <string>1.0.0</string>

    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 Bewegtbildgrafik. All rights reserved.</string>

    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>

    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
</dict>
</plist>
